// Cores
$green-dark: #1b5e20;  // Cor verde escuro, tipo mato/planta
$green-darker: #164f17; // Tom mais escuro de verde
$green-light: #388e3c; // Cor verde mais clara
$white: #ffffff; // Cor branca para o texto